/*                   CORES
Roxo forte 

    #10002B
    #240046
    #3C096C
    #5A189A
    #674EA7
    #7B2CBF
    #9D4EDD
    #C77DFF
    #E0AAFF

Lilas
*/

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,500;0,600;0,700;1,800&family=Rubik:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text, li {   
   font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #3C096C;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

.logo {
    font-size: 42px;
    font-family: 'Bitter', serif;
    margin-left: 15px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #7B2CBF;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}
   
.services {
    position: relative; 
}

.dropdown {
    background-color: #7B2CBF;
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 15em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #E0AAFF;
}

.services:hover .dropdown {
    display: block;
}

input[type=checkbox]{
    display: none;
} 
   
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

.content .imagemI {
    max-width: 100%;
    height: 300px;
    margin: 45px 300px 45px 470px;
}

.text {
    color: #747474;
    margin-left: 410px;
}

a .botao-destaque {
	animation: botao-destaque 0.9s linear infinite both;
    background-color: #3C096C;    
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    box-sizing: border-box;
    border-radius: 30px;
    margin: 40px 300px 0 570px;
}
   
@media (max-width: 768px) { /* PARTE RESPONSIVA DO SITE */ 

.menu { 
    display:none;
    position: absolute;
    background-color: #3C096C;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
}

.menu li:hover {
    display: inline-block;
    background-color: #7B2CBF;
    transition: 0.3s ease;
}

.menu li + li {
    margin-top: 12px;
}

input[type=checkbox]:checked ~ .menu{
    display: block;
}

.hamburger {
    display: block;
}

.dropdown {
    left: 50%;
    top: 30px;
}

.dropdown li:hover {
    background-color: #C77DFF;
}

.content .imagemI {
    height: 250px;
    margin: 75px 300px 45px 90px;
}

.text {
    color: #747474;
    margin-left: 45px;
    font-size: 15px;
}

a .botao-destaque {
	animation: botao-destaque 0.9s linear infinite both;
    background-color: #3C096C;    
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    box-sizing: border-box;
    border-radius: 30px;
    margin: 40px 300px 0 150px;
    cursor: pointer;
}

a .botao-destaque:hover {
    background-color: #7B2CBF;
}

}